<html>
<head>

  <style>
    body {
    background-image: url("img/gfkss.jpg" );
      background-size: 100% 100%;
}
      img{
          align-content: center;
      }
    
    </style>
    
    
    </head>
    <body>
   
       <img src="img/bs.png" height="100%"  width="100%" usemap="#Wine">
       
       
        <map name="Wine" id="Wine">
    <area alt="" title=""  shape="rect" coords="14,14,781,928" href="wine.html"  />
   <area alt="" title=""  shape="rect" coords="854,32,1668,921" href = "beer.html" />
</map>
        
 
        
    </body>


</html>