<html>
 <head>
   <style>
    body {
    background-image: url("img/beer2.jpg");
        background-size: 100% 100%;
        
}
       
       h1
{
        text-align: center; 
        font-size: 48px;
           
           
}
        h2
{
        text-align: center; 
        font-size: 25px; 
		max-width: 460px;
		margin: auto;
}
       button
{
        font-size: 25px;   
 }
       
   
    </style   
    </head>
    <body> 
       <br><br><br><br> <br>
       <h1> The Beer For You</h1>
       <br><br>
       <h2>Name: {{name}}</h2>
       <h2>Category: {{Category}}</h2>
       <h2>Description: {{Description}}</h2>
	   <h2>{{year}}</h2>
     </body>
</html>
      