<html>
 <head>
   <style>
    body 
{
        background-image: url("img/beer2.jpg");
        background-size: 100% 100%;   
}
       h1
{
        text-align: center; 
        font-size: 48px;
           
           
}
        h2
{
        text-align: center; 
        font-size: 36px; 
}
       button
{
        font-size: 25px;   
 }
       
    </style 
    </head>
    <body> 
       
       <br><br><br><br> <br>
       
       <h1> What Do You Want To Drink?</h1>
       
       <br><br><br><br>
       
       <h2> I Prefer a Style</h2>
       
       <div align = center>
       <form action = "beer2.html" >
       <select name="style" style = "font-size: 25px;">
    <option value="1">British Origin Ales</option>
    <option value="2">Irish Origin Ales</option>
    <option value="3">North American Origin Ales</option>
    <option value="4">German Origin Ales</option>
           <option value="5">Belgian and French Origin Ales</option>
    <option value="6">International Ale Styles</option>
    <option value="7">European-germanic Lager</option>
    <option value="8">North American Lager</option>
                      <option value="9">Other Lager</option>
    <option value="10">International Styles</option>
    <option value="11">Hybrid/mixed Beer</option>
    <option value="12">Mead, Cider, & Perry</option>
                        
   
       

  </select>
  <br><br>
       <input type="submit" value="Pour Me A Drink" style = "font-size: 25px;">
       
       </form>
     </div>
       <br>
     
       <br>
        <br>
        <h2> I'm Feeling Lucky</h2>
       <div align= center> <form action = "beer2.html">  
     
       <button type="submit" name= "style" value = "0">Pour Me A Drink</button>
       
       
       </form></div>
     </body>
</html>