<html>
 <head>
   <style>
    body 
{
        background-image: url("img/wine.jpg");
        background-size: 100% 100%;   
}
       h1
{
        text-align: center; 
        font-size: 48px;
           
           
}
        h2
{
        text-align: center; 
        font-size: 36px; 
}
       button
{
        font-size: 25px;   
 }
       
    </style 
    </head>
    <body> 
       
       <br><br><br><br> <br>
       
       <h1> What Do You Want To Drink?</h1>
       
       <br><br><br><br>
       
       <h2> I Prefer a Style</h2>
       
       <div align = center>
       <form action = "wine2.html" >
       <select name="style" style = "font-size: 25px;">
    <option value="0">Red - Light & Fruity</option>
    <option value="1">Red - Smooth & Supple</option>
    <option value="2">Red - Earthy & Spicy</option>
    <option value="3">Red - Big & Bold</option>
           <option value="4">White - Light & Crisp</option>
    <option value="5">White - Fruity & Smooth</option>
    <option value="6">White - Rich & Creamy</option>
 <option value="7">Sweet</option>
   
       

  </select>
       
  <br><br>
       <input type="submit" value="Pour Me A Drink" style = "font-size: 25px;">
       
       </form>
     </div>
       <br>
     
       <br>
        <br>
        <h2> I'm Feeling Lucky</h2>
       <div align= center> <form action = "wine2.html">  
     
       <button type="submit" name= "style" value = "8">Pour Me A Drink</button>
       
       
       </form></div>
     </body>
</html>